---
interface Props {
	style?: string
}

const { style } = Astro.props
---

<span
	class=`inline-flex select-none items-center justify-center space-x-2 whitespace-nowrap rounded-full bg-white/5 backdrop-blur px-4 py-2 font-secondary font-semibold tracking-tight text-xs ${style}`
>
	<slot />
</span>
