<section class='pt-16 pb-16'>
	<div class='max-w-container mx-auto px-4 pt-4 sm:px-6 lg:flex lg:px-8'>
		<div
			class='relative z-20 mx-auto max-w-160 pt-16 pb-16 lg:mx-0 lg:w-160 lg:max-w-none lg:flex-none lg:pt-20 lg:pr-4 lg:pb-24'>
			<p
				class='text-base/7 text-transparent bg-clip-text bg-linear-to-r from-[#93603e] via-[#c18156] to-[#cea472] font-accent'>
				A minimalist UI kit for fast and beautiful interfaces.
			</p>
			<h1 class='mt-4 text-3xl tracking-[-0.04em] text-black sm:text-5xl/[3.5rem] font-heading'>
				Modern UI blocks, built for speed and simplicity with Dune UI.
			</h1>
			<div class='flex flex-wrap gap-6 mt-4'>
				<div class='flex items-center text-sm font-medium text-slate-500'>
					<svg class='size-8 flex-none stroke-current text-slate-400' fill='none' stroke-width='1.5'
						stroke-linecap='round' stroke-linejoin='round'>
						<path d='M5 4.15h22.5l-2 20.5-9.25 4-9.25-4-2-20.5Z'></path>
						<path d='M20.5 9.15H12v5.5h8.5v6l-4.25 2-4.25-2v-2.5'></path>
					</svg><span class='ml-2.5'>HTML</span>
				</div>
				<div class='flex items-center text-sm font-medium text-slate-500'>
					<svg class='size-8 flex-none stroke-current text-slate-400' fill='none' stroke-width='1.5'
						stroke-linecap='round' stroke-linejoin='round'>
						<ellipse cx='16' cy='16' rx='13' ry='5'></ellipse>
						<ellipse cx='16' cy='16' rx='13' ry='5' transform='rotate(60 16 16)'></ellipse>
						<ellipse rx='13' ry='5' transform='matrix(-.5 .86603 .86603 .5 16 16)'></ellipse>
						<circle cx='16' cy='16' r='2'></circle>
					</svg><span class='ml-2.5'>React</span>
				</div>
				<div class='flex items-center text-sm font-medium text-slate-500'>
					<svg class='size-8 flex-none stroke-current text-slate-400' fill='none' stroke-width='1.5'
						stroke-linecap='round' stroke-linejoin='round'>
						<path d='M19.924 5 16 11.644 12.075 5H3l13 23L29 5h-9.076Z'></path>
						<path d='M19.879 5 16 11.26 12.121 5H8l8 13 8-13h-4.121Z'></path>
					</svg><span class='ml-2.5'>Vue</span>
				</div>
				<div class='flex items-center text-sm font-medium text-slate-500'>
					<svg width="32" height="32" viewBox="0 0 24 24">
						<path fill="#94a3b8" fill-rule="evenodd"
							d="M11.096 2.89c2.61-1.69 6.223-.902 8.052 1.756v.003a5.75 5.75 0 0 1 .958 4.307a5.4 5.4 0 0 1-.787 1.996a5.72 5.72 0 0 1 .545 3.608a5.4 5.4 0 0 1-.815 2.046a5.3 5.3 0 0 1-1.561 1.535l-4.582 2.97c-2.603 1.689-6.223.9-8.052-1.757a5.7 5.7 0 0 1-.908-2.055a5.8 5.8 0 0 1-.054-2.252a5.4 5.4 0 0 1 .787-1.997a5.7 5.7 0 0 1-.64-2.614q0-.504.087-1a5.4 5.4 0 0 1 .82-2.044A5.3 5.3 0 0 1 6.51 5.86zM9.731 19.723q.465 0 .917-.118c.33-.09.644-.231.932-.417l4.579-2.967c.372-.239.692-.553.938-.924s.413-.79.491-1.23q.054-.3.053-.605c0-.714-.22-1.41-.628-1.991a3.66 3.66 0 0 0-1.304-1.169A3.6 3.6 0 0 0 13.103 10c-.33.09-.644.23-.931.415l-1.75 1.139a1 1 0 0 1-.283.125q-.135.037-.275.036a1.08 1.08 0 0 1-.9-.478a1.05 1.05 0 0 1-.19-.601q.005-.087.02-.172a1 1 0 0 1 .432-.652l4.587-2.967a1 1 0 0 1 .282-.125q.133-.039.272-.043a1.08 1.08 0 0 1 .9.479c.124.177.19.388.19.604v.09l-.016.172l.17.054a5.9 5.9 0 0 1 1.795.911l.234.174l.086-.267q.07-.213.11-.434q.052-.3.052-.6a3.46 3.46 0 0 0-.62-1.993a3.66 3.66 0 0 0-1.308-1.17a3.63 3.63 0 0 0-2.61-.302c-.33.09-.644.231-.932.417L7.832 7.78a3.2 3.2 0 0 0-.938.925a3.26 3.26 0 0 0-.543 1.828c0 .714.22 1.41.628 1.99a3.66 3.66 0 0 0 1.304 1.169a3.6 3.6 0 0 0 2.605.303c.33-.09.643-.23.931-.415l1.747-1.133q.13-.086.28-.125q.136-.037.276-.036a1.08 1.08 0 0 1 .902.478c.125.175.193.385.194.601a.99.99 0 0 1-.447.829l-4.582 2.983a1 1 0 0 1-.558.161a1.08 1.08 0 0 1-.9-.488a1.05 1.05 0 0 1-.19-.602v-.09l.017-.172l-.17-.053a5.9 5.9 0 0 1-1.795-.911l-.234-.18l-.087.266a3 3 0 0 0-.11.435a3.46 3.46 0 0 0 .577 2.59c.334.49.782.892 1.303 1.17s1.1.422 1.689.421"
							clip-rule="evenodd" /></svg>
					<span class='ml-2.5'>Svelte</span>
				</div>
				<div class='flex items-center text-sm font-medium text-slate-500'>
					<svg width="32" height="32" viewBox="0 0 16 16">
						<g fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path stroke="#94a3b8"
								d="M10.561 1.61L13.5 10.5c-.995-.517-2.395-1.298-3.5-1.493L8 3.5L6 9.007c-1.11.194-2.5.974-3.5 1.493l3.163-8.891c.121-.398.182-.597.302-.745A1 1 0 0 1 6.36.57c.176-.07.384-.07.8-.07h1.902c.416 0 .625 0 .801.071a1 1 0 0 1 .396.293c.12.148.18.347.301.746"
								stroke-width="1" />
							<path stroke="#94a3b8"
								d="M10.411 11.266c-.43.365-1.292.613-2.283.613c-1.217 0-2.237-.374-2.508-.879a2.8 2.8 0 0 0-.119.831s-.063 1.038.666 1.76c0-.374.307-.679.686-.679c.648 0 .648.561.647 1.016v.04c0 .691.426 1.282 1.032 1.532a1.4 1.4 0 0 1-.141-.61c0-.658.39-.903.845-1.188c.36-.227.761-.479 1.038-.985a1.84 1.84 0 0 0 .137-1.451"
								stroke-width="1" />
						</g>
					</svg>
					<span class='ml-2.5'>Astro</span>
				</div>
			</div>
			<p class='mt-4 text-base/7 text-slate-600 font-accent'>
				Hundreds of elegant, responsive interface patterns you can copy, paste,
				and adapt to any modern web stack — no extra CSS or JS required.
			</p>
			<div class='mt-8 flex gap-4'>
				<a href='/components/preview'
					class='group relative font-accent inline-flex h-12 items-center justify-center overflow-hidden rounded-md px-6 font-medium text-white bg-[#93603e] hover:bg-[#c18156] transition-colors duration-100 select-none'><span>Explore
						Demo</span>
					<div class='ml-1 transition group-hover:translate-x-1'>
						<svg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'
							class='h-5 w-5'>
							<path
								d='M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z'
								fill='currentColor' fill-rule='evenodd' clip-rule='evenodd'></path>
						</svg>
					</div>
				</a>

				<a href='/documentation'
					class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md font-accent bg-[#93603e] hover:bg-[#c18156] transition-colors duration-100 select-none px-6 font-medium text-white"><span>View
						Docs</span>
					<div class="ml-1 transition group-hover:translate-x-1"><svg width="15" height="15" viewBox="0 0 15 15"
							fill="none" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5">
							<path
								d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
								fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path>
						</svg></div>
				</a>
			</div>
		</div>
		<div class='relative z-10 mt-12 hidden select-none lg:flex'>
			<div class='z-20 flex flex-col'>
				<div class='relative p-4'>
					<div class='absolute top-8 right-0 bottom-0 left-11 bg-slate-900/3'>
					</div>
					<div
						class='pointer-events-auto relative z-10 w-96.5 rounded-lg bg-white text-[0.8125rem]/5 text-slate-700 ring-1 shadow-xl shadow-black/5 ring-slate-700/10'>
						<div>
							<div class='flex items-center px-3.5 py-2.5 text-slate-400'>
								<svg class='mr-2 size-5 stroke-slate-500' fill='none' viewBox='0 0 24 24' stroke-width='2'>
									<path stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z'>
									</path>
								</svg>
								<span class='font-accent'>Search projects...</span>
							</div>
							<div class='border-t border-slate-400/20 px-3.5 py-3'>
								<span class='mb-1.5 text-[0.6875rem] font-accent text-slate-500'>
									Recent searches
								</span>
								<div class='flex items-center rounded-md p-1.5 bg-[#93603e] text-white'>
									<svg class='mr-2.5 size-5 flex-none stroke-white' fill='none' viewBox='0 0 24 24' stroke-width='2'>
										<path stroke-linecap='round' stroke-linejoin='round'
											d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z'></path>
									</svg><span class='font-accent'>Obsidian Works / UI Experiments</span>
								</div>
								<div class='flex items-center rounded-md p-1.5'>
									<svg class='mr-2.5 size-5 flex-none stroke-slate-400' fill='none' viewBox='0 0 24 24'
										stroke-width='2'>
										<path stroke-linecap='round' stroke-linejoin='round'
											d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z'></path>
									</svg><span class='font-accent'>Marble Tree / Internal Assets</span>
								</div>
							</div>
							<div class='border-t border-slate-400/20 px-3.5 py-3'>
								<div class='flex items-center rounded-md p-1.5'>
									<svg class='mr-2.5 size-5 flex-none stroke-slate-400' fill='none' viewBox='0 0 24 24' stroke-width='2'
										stroke-linecap='round' stroke-linejoin='round'>
										<path
											d='M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z'>
										</path>
									</svg><span class='font-accent'>Add new file...</span>
								</div>
								<div class='flex items-center rounded-md p-1.5'>
									<svg class='mr-2.5 size-5 flex-none stroke-slate-400' fill='none' viewBox='0 0 24 24' stroke-width='2'
										stroke-linecap='round' stroke-linejoin='round'>
										<path d='M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z'>
										</path>
									</svg><span class='font-accent'>Add new folder...</span>
								</div>
								<div class='flex items-center rounded-md p-1.5'>
									<svg class='mr-2.5 size-5 flex-none stroke-slate-400' fill='none' viewBox='0 0 24 24' stroke-width='2'
										stroke-linecap='round' stroke-linejoin='round'>
										<path d='M7 20l4-16m2 16l4-16M6 9h14M4 15h14'></path>
									</svg><span class='font-accent'>Add category...</span>
								</div>
								<div class='flex items-center rounded-md p-1.5'>
									<svg class='mr-2.5 size-5 flex-none stroke-slate-400' fill='none' viewBox='0 0 24 24' stroke-width='2'
										stroke-linecap='round' stroke-linejoin='round'>
										<path
											d='M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z'>
										</path>
									</svg><span class='font-accent'>Add label...</span>
								</div>
							</div>
						</div>
					</div>
					<div class='z-0'>
						<div
							class='absolute top-8 right-[-95%] left-0 h-px bg-slate-900/10 mask-[linear-gradient(to_right,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
						</div>
						<div
							class='absolute -top-2 right-0 -bottom-16 w-px bg-slate-900/10 mask-[linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
						</div>
						<div class='absolute top-px -right-2/3 -mb-px flex h-8 items-end overflow-hidden'>
							<div class='flex -mb-px h-[2px] w-80 -scale-x-100'>
								<div
									class='w-full flex-none bg-[linear-gradient(90deg,rgba(56,189,248,0)_0%,#0EA5E9_32.29%,rgba(236,72,153,0.3)_67.19%,rgba(236,72,153,0)_100%)] blur-xs'>
								</div>
								<div
									class='ml-[-100%] w-full flex-none bg-[linear-gradient(90deg,rgba(56,189,248,0)_0%,#0EA5E9_32.29%,rgba(236,72,153,0.3)_67.19%,rgba(236,72,153,0)_100%)] blur-[1px]'>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='relative ml-6 flex items-center justify-end'>
					<div class='relative p-4'>
						<div
							class='pointer-events-auto h-6 w-10 rounded-full p-1 ring-1 transition duration-200 ease-in-out ring-inset bg-slate-900/10 ring-slate-900/5'>
							<div
								class='size-4 rounded-full bg-white ring-1 shadow-2xs ring-slate-700/10 transition duration-200 ease-in-out'>
							</div>
						</div>
						<div class='z-0'>
							<div
								class='absolute -top-full bottom-2/3 left-0 w-px bg-slate-900/20 mask-[linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
							</div>
						</div>
					</div>
					<div class='relative p-4'>
						<div
							class='pointer-events-auto relative inline-flex rounded-md bg-white text-[0.8125rem]/5 font-medium text-slate-700 ring-1 shadow-2xs ring-slate-700/10 hover:bg-slate-50 hover:text-slate-900'>
							<div class='flex px-3 py-2'>
								<svg class='mr-2.5 size-5 flex-none fill-slate-400'>
									<path d='M5 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v14l-5-2.5L5 18V4Z'></path>
								</svg><span class='font-accent'>Bookmark</span>
							</div>
							<div class='border-l border-slate-400/20 px-2.5 py-2'>12k</div>
						</div>
						<div class='z-0'>
							<div
								class='absolute -top-12 right-0 -bottom-8 w-px bg-slate-900/10 mask-[linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
							</div>
							<div
								class='absolute -top-12 -bottom-8 left-0 w-px bg-slate-900/10 mask-[linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
							</div>
						</div>
					</div>
					<div class='relative p-4'>
						<div
							class='pointer-events-auto rounded-md bg-[#93603e] px-3 py-2 text-[0.8125rem]/5 font-semibold text-white hover:bg-[#c18156]'>
							<span class='font-accent'>New Project</span>
						</div>
					</div>
					<div class='z-0'>
						<div
							class='absolute top-0 -right-4 -left-12 h-px bg-slate-900/10 mask-[linear-gradient(to_right,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
						</div>
						<div
							class='absolute -right-4 bottom-0 left-0 h-px bg-slate-900/10 mask-[linear-gradient(to_right,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
						</div>
					</div>
				</div>
			</div>
			<div class='relative z-10 mt-8'>
				<div class='relative p-4'>
					<div
						class='w-79.5 rounded-lg bg-white text-[0.8125rem]/5 text-slate-900 ring-1 shadow-xl shadow-black/5 ring-slate-700/10'>
						<div class='flex items-center p-4 pb-0'>
							<img
								src="https://images.unsplash.com/photo-1564564244660-5d73c057f2d2?q=80&w=2076&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
								alt="Avatar of Elliot Granger" class="w-10 h-10 rounded-full object-cover flex-none" />
							<div class='ml-4 flex-auto'>
								<div class='font-accent'>Elliot Granger</div>
								<div class='mt-1 text-slate-500 font-accent'>
									Sent you an invite to edit this document.
								</div>
							</div>
						</div>
						<div class='flex gap-3 p-4'>
							<div
								class='pointer-events-auto rounded-md bg-[#93603e] px-3 py-2 text-[0.8125rem]/5 font-semibold text-white hover:bg-[#c18156]'>
								<span class='font-accent'>Accept</span>
							</div>
							<div
								class='pointer-events-auto rounded-md px-4 py-2 text-center font-medium ring-1 shadow-2xs ring-slate-700/10 hover:bg-slate-50'>
								<span class='font-accent'>Decline</span>
							</div>
						</div>
					</div>
					<div class='z-0'>
						<div
							class='absolute -right-4 bottom-0 -left-12 h-px bg-slate-900/10 mask-[linear-gradient(to_right,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
						</div>
						<div
							class='absolute -top-2 -bottom-16 left-87.5 w-px bg-slate-900/10 mask-[linear-gradient(to_top,transparent,white_4rem,white_calc(100%-4rem),transparent)]'>
						</div>
					</div>
				</div>
				<div class='relative p-4'>
					<div
						class='w-98 divide-y divide-slate-400/20 rounded-lg bg-white text-[0.8125rem]/5 text-slate-900 ring-1 shadow-xl shadow-black/5 ring-slate-700/10'>
						<div class='flex items-center p-4'>
							<img src='https://images.unsplash.com/photo-1600118947082-9d1d0287ffed?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' alt=''
								class="w-10 h-10 rounded-full object-cover flex-none" />
							<div class='ml-4 flex-auto'>
								<div class='font-accent'>Leonard Krasner</div>
								<div class='mt-1 text-slate-700 font-accent'>@leonardkrasner</div>
							</div>
							<div
								class='pointer-events-auto ml-4 flex-none rounded-md px-2 py-1.25 font-medium text-slate-700 ring-1 shadow-2xs ring-slate-700/10 hover:bg-slate-50'>
								<span class='font-accent'>View</span>
							</div>
						</div>
						<div class='flex items-center p-4'>
							<img src='https://images.unsplash.com/photo-1583692331507-fc0bd348695d?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' alt=''
								class="w-10 h-10 rounded-full object-cover flex-none" />
							<div class='ml-4 flex-auto'>
								<div class='font-accent'>Floyd Miles</div>
								<div class='mt-1 text-slate-700 font-accent'>@floydmiles</div>
							</div>
							<div
								class='pointer-events-auto ml-4 flex-none rounded-md px-2 py-1.25 font-medium text-slate-700 ring-1 shadow-2xs ring-slate-700/10 hover:bg-slate-50'>
								<span class='font-accent'>View</span>
							</div>
						</div>
						<div class='p-4'>
							<div
								class='pointer-events-auto rounded-md px-4 py-2 text-center font-medium ring-1 shadow-2xs ring-slate-700/10 hover:bg-slate-50'>
								<span class='font-accent'>View all</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
