@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer base {
	@font-face {
		font-family: GilroyRegular;
		src: url(/fonts/Gilroy-Regular.woff2) format('woff2');
		font-display: swap;
		font-weight: 400;
	}

	@font-face {
		font-family: 'Gilroy Semibold';
		src: url(/fonts/Gilroy-SemiBold.woff2) format('woff2');
		font-display: swap;
		font-weight: 600;
	}

	@font-face {
		font-family: 'Gilroy Bold';
		src: url(/fonts/Gilroy-Bold.woff2) format('woff2');
		font-display: swap;
		font-weight: bold;
	}

	@font-face {
		font-family: 'Albert Sans Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 100 900;
		src: url(@fontsource-variable/albert-sans/files/albert-sans-latin-wght-normal.woff2) format('woff2-variations');
	}
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: #f6edde;
	color: #d39c64;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #d39c64;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f6edde;
}
