---
import ChangelogLayout from '@/layouts/ChangelogLayout.astro'
---

<ChangelogLayout
	title='Dune UI - A collection of attractive Tailwind CSS components'
	description='Build sites that sell well'
>
	<section class='flex min-h-full flex-col bg-white'>
		<div
			class='relative flex-none overflow-hidden px-6 lg:pointer-events-none lg:fixed lg:inset-0 lg:z-40 lg:flex lg:px-0'
		>
			<div
				class='absolute inset-0 -z-10 overflow-hidden bg-white lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-lg'
			>
				<svg
					class='absolute -bottom-48 left-[-40%] h-320 w-[180%] lg:top-[-40%] lg:-right-40 lg:bottom-auto lg:left-auto lg:h-[180%] lg:w-7xl'
					aria-hidden='true'
				>
					<defs>
						<radialGradient id=':S1:-desktop' cx='100%'>
							<stop offset='0%' stop-color='rgba(147,96,62,0.3)'></stop>
							<stop offset='53.95%' stop-color='rgba(147,96,62,0.09)'></stop>
							<stop offset='100%' stop-color='rgba(147,96,62,0)'></stop>
						</radialGradient>
						<radialGradient id=':S1:-mobile' cy='100%'>
							<stop offset='0%' stop-color='rgba(147,96,62,0.3)'></stop>
							<stop offset='53.95%' stop-color='rgba(147,96,62,0.09)'></stop>
							<stop offset='100%' stop-color='rgba(147,96,62,0)'></stop>
						</radialGradient>
					</defs>
					<rect
						width='100%'
						height='100%'
						fill='url(#:S1:-desktop)'
						class='hidden lg:block'></rect>
					<rect
						width='100%'
						height='100%'
						fill='url(#:S1:-mobile)'
						class='lg:hidden'></rect>
				</svg>
				<div
					class='absolute inset-x-0 right-0 bottom-0 h-px bg-white mix-blend-overlay lg:top-0 lg:left-auto lg:h-auto lg:w-px'
				>
				</div>
			</div>
			<div
				class='relative flex w-full lg:pointer-events-auto lg:mr-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-lg lg:overflow-x-hidden lg:overflow-y-auto lg:pl-[max(4rem,calc(50%-38rem))]'
			>
				<div
					class='mx-auto max-w-lg lg:mx-0 lg:flex lg:w-96 lg:max-w-none lg:flex-col lg:before:flex-1 lg:before:pt-6'
				>
					<div class='pt-20 pb-16 sm:pt-32 sm:pb-20 lg:py-20'>
						<div class='relative'>
							<!-- Left section -->
							<div>
								<a href='/'
									><svg
										viewBox='0 0 140 32'
										fill='none'
										aria-hidden='true'
										class='inline-block h-8 w-auto'
									>
										<title>Commit</title>
										<mask id=':S2:-m' fill='#fff'>
											<path
												fill-rule='evenodd'
												clip-rule='evenodd'
												d='M31.75 18h-8.13a8 8 0 01-15.5 0H0a16 16 0 0031.75 0zm0-4h-8.13a8 8 0 00-15.5 0H0a16 16 0 0131.75 0z'
											>
											</path>
										</mask>
										<path
											fill-rule='evenodd'
											clip-rule='evenodd'
											d='M31.75 18h-8.13a8 8 0 01-15.5 0H0a16 16 0 0031.75 0zm0-4h-8.13a8 8 0 00-15.5 0H0a16 16 0 0131.75 0z'
											fill='url(#:S2:-g)'></path>
										<path
											d='M31.75 18l1 .12.13-1.12h-1.13v1zm-8.13 0v-1h-.77l-.2.75.97.25zm-15.5 0l.98-.25-.2-.75h-.77v1zM0 18v-1h-1.13l.14 1.12L0 18zm23.62-4l-.96.25.19.75h.77v-1zm8.13 0v1h1.13l-.14-1.12-.99.12zM8.13 14v1h.77l.2-.75-.97-.25zM0 14l-1-.12-.13 1.12H0v-1zm31.75 3h-8.13v2h8.13v-2zm-9.1.75A7 7 0 0115.89 23v2a9 9 0 008.71-6.75l-1.93-.5zM15.89 23a7 7 0 01-6.78-5.25l-1.94.5A9 9 0 0015.88 25v-2zm-7.75-6H0v2h8.13v-2zm7.75 14A15 15 0 01.99 17.88l-1.98.24A17 17 0 0015.88 33v-2zm14.88-13.12A15 15 0 0115.88 31v2a17 17 0 0016.86-14.88l-1.98-.24zM23.62 15h8.13v-2h-8.13v2zm-7.74-6a7 7 0 016.78 5.25l1.93-.5A9 9 0 0015.88 7v2zM9.1 14.25A7 7 0 0115.88 9V7a9 9 0 00-8.72 6.75l1.94.5zM0 15h8.13v-2H0v2zm1-.88A15 15 0 0115.87 1v-2A17 17 0 00-1 13.88l1.98.24zM15.87 1a15 15 0 0114.88 13.12l1.98-.24A17 17 0 0015.88-1v2z'
											fill='#fff'
											fill-opacity='0.2'
											mask='url(#:S2:-m)'></path>
										<path
											d='M52.42 24.24c4.5 0 7.83-2.54 8.26-6.36h-4.37c-.33 1.63-1.94 2.69-3.89 2.69-2.7 0-4.46-1.66-4.46-5.33 0-3.65 1.75-5.3 4.46-5.3 2.02 0 3.5 1.1 3.9 2.66h4.36c-.43-3.8-3.7-6.34-8.26-6.34-5.32 0-8.88 3.24-8.88 8.98 0 5.76 3.56 9 8.88 9zm16.35 0c4.18 0 6.56-2.71 6.56-6.72 0-4.25-2.62-6.72-6.56-6.72-4.17 0-6.57 2.71-6.57 6.72 0 4.25 2.64 6.72 6.57 6.72zm0-3.29c-1.5 0-2.47-1.05-2.47-3.43 0-2.4.99-3.46 2.47-3.46 1.5 0 2.48 1.06 2.48 3.46s-.99 3.43-2.48 3.43zm8.6 3.05h4.06v-7.27c0-1.35.8-2.64 2.33-2.64 1.42 0 2 .96 2 2.93V24h4.07v-7.27c0-1.35.8-2.64 2.3-2.64 1.42 0 2.02.96 2.02 2.93V24h4.06v-7.87c0-3.87-1.94-5.33-4.4-5.33-1.91 0-3.57.94-4.14 2.8h-.2c-.7-2.06-2.3-2.8-4.05-2.8-1.68 0-3.2.84-3.8 2.47h-.19l-.12-2.23h-3.93V24zm23.5 0h4.05v-7.27c0-1.35.8-2.64 2.33-2.64 1.41 0 1.99.96 1.99 2.93V24h4.08v-7.27c0-1.35.8-2.64 2.3-2.64 1.42 0 2.02.96 2.02 2.93V24h4.05v-7.87c0-3.87-1.94-5.33-4.39-5.33-1.92 0-3.57.94-4.15 2.8h-.2c-.69-2.06-2.3-2.8-4.05-2.8-1.68 0-3.19.84-3.79 2.47h-.2l-.11-2.23h-3.94V24zm23.48-14.47h4.05V6.5h-4.05v3.03zm0 14.47h4.05V11.04h-4.05V24zm11.45 0h2.95v-3.26h-1.51c-.63 0-.99-.17-.99-.9V14.3h2.5v-3.26h-2.5v-3.8l-4.05.37v3.43h-2.23v3.26h2.23v6.3c0 2.06.72 3.4 3.6 3.4z'
											fill='#fff'></path>
										<defs>
											<linearGradient
												id=':S2:-g'
												x1='15.88'
												y1='0'
												x2='15.88'
												y2='32'
												gradientUnits='userSpaceOnUse'
											>
												<stop stop-color='#AAE4FF'></stop>
												<stop offset='1' stop-color='#38BDF8'></stop>
											</linearGradient>
										</defs>
									</svg></a
								>
							</div>

							<h1 class='mt-14 font-display text-4xl/tight text-black font-semibold'>
								Open-source Git client
								<!-- -->
								<span class='text-sky-300'>for macOS minimalists</span>
							</h1>
							<p class='mt-4 text-sm/6 text-gray-300 font-accent'>
								Commit is a lightweight Git client you can open from anywhere
								any time you’re ready to commit your work with a single keyboard
								shortcut. It’s fast, beautiful, and completely unnecessary.
							</p>
							<form class='relative isolate mt-8 flex items-center pr-1'>
								<label for=':S3:' class='sr-only'>Email address</label><input
									required=''
									type='email'
									autocomplete='email'
									id=':S3:'
									placeholder='Email address'
									class='peer w-0 flex-auto bg-transparent px-4 py-2.5 text-base text-black placeholder:text-gray-500 focus:outline-hidden sm:text-[0.8125rem]/6'
									name='email'
								/><button
									class='group relative isolate flex-none rounded-md py-1.5 text-[0.8125rem]/6 font-display text-black pl-2.5 pr-[calc(9/16*1rem)]'
									type='submit'
									><span
										class='absolute inset-0 rounded-md bg-linear-to-b from-white/80 to-white opacity-10 transition-opacity group-hover:opacity-15'
									></span><span
										class='absolute inset-0 rounded-md opacity-7.5 shadow-[inset_0_1px_1px_white] transition-opacity group-hover:opacity-10'
									></span>Get updates
									<!-- -->
									<span aria-hidden='true'>→</span></button
								>
								<div
									class='absolute inset-0 -z-10 rounded-lg transition peer-focus:ring-4 peer-focus:ring-sky-300/15'
								>
								</div>
								<div
									class='absolute inset-0 -z-10 rounded-lg bg-white/2.5 ring-1 ring-white/15 transition peer-focus:ring-sky-300'
								>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='relative flex-auto'>
			<!-- Main content -->
			<main class='space-y-20 py-20 sm:space-y-32 sm:py-32'>
				<article class='scroll-mt-16' style='padding-bottom: 0px;'>
					<div>
						<header class='relative mb-10 xl:mb-0'>
							<div
								class='pointer-events-none absolute top-0 left-[max(-0.5rem,calc(50%-18.625rem))] z-50 flex h-4 items-center justify-end gap-x-2 lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:left-0 lg:min-w-lg xl:h-8'
							>
								<a
									class='inline-flex text-sm'
									href='#commit-message-suggestions'
									><time
										datetime='2023-04-06T00:00:00.000Z'
										class='hidden xl:pointer-events-auto font-mono xl:block xl:font-medium xl:text-black/50'
										>Apr 6, 2023</time
									></a
								>
								<div
									class='w-3.5 bg-gray-400 lg:-mr-3.5 xl:mr-0 xl:bg-gray-300'
								>
								</div>
							</div>
						</header>
						<div class='mx-auto max-w-7xl px-6 lg:flex lg:px-8'>
							<div class='lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32'>
								<div
									class='mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto text-black'
									data-mdx-content='true'
								>
									<div
										class='relative overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900'
									>
										<img
											src='https://images.unsplash.com/photo-1555099962-4199c345e5dd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'
											alt='Description of image'
										/>
										<div
											class='pointer-events-none absolute inset-0 rounded-xl ring-1 ring-gray-900/10 ring-inset dark:ring-white/10'
										/>
										
									</div>
									<h2
										class='mt-6 text-xl font-display tracking-wide text-black'
									>
										Commit message suggestions
									</h2>
									<p class='mt-2 text-base font-accent text-gray-300'>
										In the latest release, I've added support for commit message
										and description suggestions via an integration with OpenAI.
										Commit looks at all of your changes, and feeds that into the
										machine with a bit of prompt-tuning to get back a commit
										message that does a surprisingly good job at describing the
										intent of your changes.
									</p>
									<p class='mt-2 text-base font-accent text-gray-300'>
										It's also been a pretty helpful way to remind myself what
										the hell I was working on at the end of the day yesterday
										when I get back to my computer and realize I didn't commit
										any of my work.
									</p>
									<h3>
										<svg viewBox='0 0 16 16' aria-hidden='true'>
											<path
												fill='#38BDF8'
												d='M5.338 9.805c.11.418.439.747.857.857C7.282 10.948 8 11.44 8 12s-.718 1.052-1.805 1.338c-.418.11-.747.439-.857.857C5.052 15.281 4.56 16 4 16s-1.052-.718-1.338-1.805a1.205 1.205 0 0 0-.856-.857C.718 13.052 0 12.56 0 12s.718-1.052 1.806-1.338c.417-.11.746-.439.856-.857C2.948 8.718 3.441 8 4 8c.56 0 1.052.718 1.338 1.805Z'
											>
											</path>
											<path
												fill='#7DD3FC'
												d='M12.717 2.432c.1.42.43.75.85.852C15.026 3.633 16 4.27 16 5s-.975 1.367-2.432 1.716c-.42.101-.75.432-.851.852C12.367 9.025 11.729 10 11 10c-.729 0-1.367-.975-1.716-2.432-.101-.42-.431-.75-.851-.852C6.975 6.367 6 5.73 6 5c0-.73.975-1.367 2.433-1.717.42-.1.75-.43.85-.85C9.634.974 10.272 0 11 0c.73 0 1.367.975 1.717 2.432Z'
											>
											</path>
										</svg> Improvements
									</h3>
									<ul>
										<li>
											Added commit message and description suggestions powered
											by OpenAI
										</li>
										<li>
											Fixed race condition that could sometimes leave you in a
											broken rebase state
										</li>
										<li>
											Improved active project detection to try and ignore file
											changes triggered by the system instead of the user
										</li>
										<li>
											Fixed bug that sometimes reported the wrong number of
											changed files
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</article>
			</main>
		</div>
	</section>
</ChangelogLayout>
