---
import ItemCard from '@/core/pages/landing-page/ItemCard.astro'
import Button from '@/core/design-system/Button.astro'
---

<section
	class='relative mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8 pt-32'
>
	<div class='max-w-2xl'>
		<h2
			class='text-base lg:text-lg pl-1 leading-7 text-transparent bg-clip-text bg-linear-to-r from-[#93603e] via-[#c18156] to-[#cea472] font-accent'
		>
			Components
		</h2>
		<p
			class='mt-4 text-2xl lg:text-5xl tracking-tight text-slate-900 dark:text-white font-heading'
		>
			Elegant, ready-to-implement user interface components for your project,
			designed to enhance aesthetics and functionality.
		</p>
		<div class='max-w-xl'>
			<p
				class='mt-4 text-sm lg:text-base leading-7 dark:text-white text-slate-700 font-accent'
			>
				Components and templates expertly designed to bring your next project to
				life with a touch of unmatched excellence and style.
			</p>
		</div>
		<div class='mt-6'>
			<a
				class='text-sm lg:text-base text-transparent bg-clip-text bg-linear-to-r from-[#93603e] via-[#c18156] to-[#cea472] font-accent hover:text-[#cea472] transition-colors'
				href='/components'
				>Browse all components <span aria-hidden='true'>→</span>
			</a>
		</div>
	</div>
	<div>
		<ItemCard />
	</div>
	<div
		class='pointer-events-none absolute -inset-x-2.5 -bottom-2.5 h-[16.6%] w-full bg-linear-to-t select-none overflow-hidden from-white dark:from-darker to-transparent sm:h-[44.4%]'
	>
	</div>
	<div
		class='select-none pointer-events-none relative z-10 -mt-5 flex justify-center'
	>
		<Button
			href='/components'
			target='_blank'
			ariaLabel='More components'
			text='More components'
			additionalClasses='bg-[#93603e] hover:bg-[#c18156] transition-colors duration-100 select-none pointer-events-auto'
		/>
	</div>
</section>
