---
import { MarqueeDemo } from './Tech'
---

<section class='h-96 backdrop-blur px-5 max-md:hidden'>
	<div class='flex flex-col md:flex-row justify-around items-center gap-x-4'>
		<div class='max-w-md'>
			<p class='font-semibold font-display text-2xl text-neutral-800'>
				You can use our components in the different frameworks that support
				TailwindCSS.
			</p>
		</div>
		<span class='border-l-2 border-neutral-500 h-24 rounded-xl hidden md:block'
		></span>
		<MarqueeDemo />
	</div>
</section>
