---
import '@/styles/globals.css'
import { ClientRouter } from 'astro:transitions'
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '@/core/components/formattedDate.astro'

type Props = CollectionEntry<'changelog'>['data']

const { title, pubDate, heroImage } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<title>Changelog - DuneUI</title>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta
			name='keywords'
			content='duneiu, tailwindcss, duneui.com, components, templates, open-source, tailwindcss-components, tailwindcss-templates'
		/>
		<link rel='shortcut icon' href='/favicon/favicon.ico' type='image/x-icon' />
		<meta name='description' content='What’s new in DuneUI' />
		<link
			rel='apple-touch-icon'
			sizes='180x180'
			href='/favicon/apple-touch-icon.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='/favicon/favicon-32x32.png'
		/>
		<link
			rel='icon'
			type='image/png'
			sizes='16x16'
			href='/favicon/favicon-16x16.png'
		/>
		<link rel='manifest' href='/favicon/site.webmanifest' />
		<link
			rel='mask-icon'
			href='/favicon/safari-pinned-tab.svg'
			color='#000000'
		/>
		<meta name='msapplication-TileColor' content='#ffffff' />
		<meta name='theme-color' content='#ffffff' />
		<link rel='canonical' href='https://duneui.com/' />
		<meta name='apple-mobile-web-app-title' content='DuneUI' />
		<meta name='application-name' content='DuneUI' />
		<meta property='og:url' content='https://duneui.com/' />
		<meta property='og:type' content='website' />
		<meta property='og:title' content='DuneUI' />
		<meta
			property='og:image'
			content='https://res.cloudinary.com/dvjzjasfg/image/upload/v1694909149/DuneUI_v1.0_qu7myh.png'
		/>
		<meta property='og:description' content='What’s new in DuneUI' />
		<meta property='og:locate' content='es_MX' />
		<meta property='og:site_name' content='DuneUI' />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:site' content='@FabianHermar' />
		<meta name='twitter:title' content='DuneUI' />
		<meta
			name='twitter:description'
			content='An open-source library of components and templates made with TailwindCSS.'
		/>
		<meta
			name='twitter:image'
			content='https://res.cloudinary.com/dvjzjasfg/image/upload/v1694909149/DuneUI_v1.0_qu7myh.png'
		/>
		<script is:inline type='text/partytown'>
			;(function (c, l, a, r, i, t, y) {
				c[a] =
					c[a] ||
					function () {
						;(c[a].q = c[a].q || []).push(arguments)
					}
				t = l.createElement(r)
				t.async = 1
				t.src = 'https://www.clarity.ms/tag/' + i
				y = l.getElementsByTagName(r)[0]
				y.parentNode.insertBefore(t, y)
			})(window, document, 'clarity', 'script', 'o2gfoxgfkv')
		</script>
		<ClientRouter />
	</head>
	<body class='flex h-full flex-col'>
		<main class='flex-1'>
			<article>
				<h1 class='font-primary font-bold text-center text-5xl'>{title}</h1>
				<p class='text-center text-gray-500'>
					<FormattedDate date={pubDate} />
				</p>
				<div class='hero-image'>
					{
						heroImage && (
							<img width={1020} height={510} src={heroImage} alt={title} />
						)
					}
				</div>
				<div class='prose'>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
